Zig/src/Z1/model/Z1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="z1" xmlns:z1="z1">
    <xs:element name="obrazac-z1">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="z1:naslov"/>
                <xs:element ref="z1:popunjava-podnosilac"/>
                <xs:element ref="z1:popunjava-zavod"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="naslov">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="naziv">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element ref="z1:izdavac"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="izdavac">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="naziv">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element ref="z1:adresa"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="adresa">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="z1:ulica"/>
                <xs:element ref="z1:mesto"/>
                <xs:element name="drzava" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ulica">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="naziv">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="broj">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[0-9]+[a-zA-z]*"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="mesto">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="naziv">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="postanski-broj">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[1-3][0-9]{4}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="popunjava-podnosilac">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="5" minOccurs="1" name="podnosilac-prijave" type="z1:Lice"/>
                <xs:element name="punomocnik" type="z1:Lice"/>
                <xs:element name="zajednicki-predstavnik" type="z1:Lice"/>
                <xs:element ref="z1:zig"/>
                <xs:element ref="z1:znak"/>
                <xs:element ref="z1:nicanska-klasifikacija"/>
                <xs:element name="pravo-prvenstva-i-osnov">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element ref="z1:placene-takse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType abstract="true" name="Lice">
        <xs:sequence>
            <xs:element ref="z1:adresa"/>
            <xs:element ref="z1:kontakt"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FLice">
        <xs:complexContent>
            <xs:extension base="z1:Lice">
                <xs:sequence>
                    <xs:element name="ime" type="xs:string"/>
                    <xs:element name="prezime" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PLice">
        <xs:complexContent>
            <xs:extension base="z1:Lice">
                <xs:sequence>
                    <xs:element name="poslovno-ime" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="kontakt">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="telefon">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[0-9]+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="email">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[A-Za-z0-9._%+-]+@[A-Za-z0-9]+[.][A-Za-z]{2,}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="faks">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[+]?[0-9]+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="zig">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tip-ziga">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="individualni"/>
                            <xs:enumeration value="kolektivni"/>
                            <xs:enumeration value="garancije"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="znak-ziga">
                    <xs:complexType>
                        <xs:choice>
                            <xs:element name="postojeci">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="verbalni"/>
                                        <xs:enumeration value="graficki"/>
                                        <xs:enumeration value="kombinovani"/>
                                        <xs:enumeration value="trodimenzionalni"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="drugi">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="izgled-znaka">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="znak">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="z1:boje"/>
                <xs:element name="transliteracija" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="prevod" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="opis">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="nicanska-klasifikacija">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="45" name="broj">
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="1"/>
                            <xs:maxInclusive value="45"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="boje">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="5" name="boja">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="plava"/>
                            <xs:enumeration value="crvena"/>
                            <xs:enumeration value="zelena"/>
                            <xs:enumeration value="zuta"/>
                            <xs:enumeration value="crna"/>
                            <xs:enumeration value="bela"/>
                            <xs:enumeration value="narandzasta"/>
                            <xs:enumeration value="ljubicasta"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="placene-takse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="osnovna-taksa" type="xs:double"/>
                <xs:element ref="z1:klasa-graficko-resenje"/>
                <xs:element name="ukupno" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="klasa-graficko-resenje">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="klasa">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="iznos" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="popunjava-zavod">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="z1:prilozi-uz-zahtev"/>
                <xs:element ref="z1:identifikacija-ziga"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="prilozi-uz-zahtev">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="primerak-znaka" type="xs:string" minOccurs="0"/>
                <xs:element name="spisak-robe-i-usluga" type="xs:string" minOccurs="0"/>
                <xs:element name="punomocje" type="xs:string" minOccurs="0"/>
                <xs:element name="generalno-punomocje" type="xs:string" minOccurs="0"/>
                <xs:element name="punomocje-naknadno-dostavljeno" type="xs:string" maxOccurs="1"
                            minOccurs="0"/>
                <xs:element name="opsti-akt-o-kolektivnom-zigu" type="xs:string" minOccurs="0"/>
                <xs:element name="dokaz-o-pravu-prvenstva" type="xs:string" minOccurs="0"/>
                <xs:element name="dokaz-o-uplati-takse" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="identifikacija-ziga">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="z1:broj-prijave-ziga"/>
                <xs:element name="datum-podnosenja" type="xs:date"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="broj-prijave-ziga">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="godina">
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:minExclusive value="1920"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="id">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:length value="4"/>
                            <xs:pattern value="[0-9]{4}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
